*.terraform
*.terraform.lock.hcl
*terraform.tfstate
*terraform.tfstate.backup
*terraform.tfvars
*terraform.tfstate.lock.info

*values.env

*istio-*

.venv
*.venv

fine-tuning/deepseek/results

*entra-id*

!kagent-enterprise/
!kagent-enterprise/**

*kagent-enterprise/kagent-ee-gke*

*.txt*

!security-agw-kagent/

production-demos/ai-technical-lead/

*agentregistry/agentregistry-enterprise*
*agentregistry/agr-enterprise*

*ai-advisor*

*tmo*

results-from-3192026.md

*agent-sandbox/moat*

*agentsecurity-gke*

*usergroup-to-agent.md*

*substrate/substrate-gke*

agentgateway-oss-local/1-3-0-oss/secrets/