*.terraform
*.terraform.lock.hcl
*terraform.tfstate
*terraform.tfstate.backup
*terraform.tfvars
*terraform.tfstate.lock.info

*values.env

*istio-*

.venv
*.venv

fine-tuning/deepseek/results

*entra-id*

*kagent*
!kagent-enterprise/
!kagent-enterprise/**

*kagent-enterprise/kagent-ee-gke*

*.txt*

!security-agw-kagent/

production-demos/ai-technical-lead/

*agentregistry/agentregistry-enterprise*
*agentregistry/agr-enterprise*

*ai-advisor*